<tr class="{CSS_ROW}">
    <td class="std ilValignTop">{VAL_CHECKBOX}</td>
    <td class="std ilValignTop">{VAL_FIRSTNAME}</td>
    <td class="std ilValignTop">{VAL_LASTNAME}</td>
    <td class="std ilValignTop">{VAL_FPIDNR}</td>
    <td class="std ilValignTop">{VAL_SEMESTER}</td>
    <td class="std ilValignTop">{VAL_SUBJECTNAME}</td>
    <td class="std ilValignTop">{VAL_EXAMINER}</td>
    <td class="std ilValignTop">{VAL_DATE}</td>
    <td class="std ilValignTop">{VAL_GRADE}</td>
    <td class="std ilValignTop">{VAL_RATING}</td>
    <td class="std ilValignTop">{VAL_STATUS}</td>
    <td class="std ilValignTop">{VAL_CREATEDDATE}</td>
    <td class="std ilValignTop">{VAL_MODIFIEDDATE}</td>
    <td class="std ilValignTop">{VAL_ACTIONS}</td>
</tr>